{% extends 'base.html' %} {% block body %}
<h1 class="display-1">Hello, {{ user.first_name }} {{ user.last_name }}</h1>
<div class="ui divider"></div>
<p><i>Username: </i> {{ user.username }}</p>
<p><i>Email: </i> {{ user.email }}</p>
<a href="/users/{{ user.username }}/feedback/add">
  <button class="ui labeled icon primary button">
    <i class="edit icon"></i>
    New feedback
  </button></a
>
<button
  class="ui labeled icon negative button"
  formaction="/users/{{ user.username }}/delete"
  formmethod="POST"
>
  <i class="trash icon"></i>
  Delete account
</button>
<!-- FEEDBACK -->
<div class="ui comments">
  {% for feedback in user.feedback %}
  <div class="comment">
    <div class="content">
      <div class="author">
        {{ feedback.title }}
        <span class="ui right floated buttons mini">
          <form>
            <button
              class="ui primary button"
              formaction="/feedback/{{ feedback.id }}/update"
              formmethod="GET"
            >
              <i class="edit icon"></i>
            </button>
            <button
              class="ui negative button"
              formaction="/feedback/{{ feedback.id }}/delete"
              formmethod="POST"
            >
              <i class="trash icon"></i>
            </button>
          </form>
        </span>
      </div>
      <div class="text">{{ feedback.content }}</div>
    </div>
  </div>
  <div class="ui divider"></div>
  {% endfor %}
</div>
<!--  -->
{% endblock %}
